.wrapper {
  position: relative;
  width: 400px;
  padding: 40px 20px;
  text-align: left;
  overflow: hidden;
  background-color: var(--color-gray1);
  transition: all 0.2s;
  cursor: default;
}

.wrapper:hover,
.wrapper:focus {
  background-color: var(--color-blue);
}

.imgSkill {
  object-fit: contain;
  transform: translateX(40%);
  transition: all 0.2s;
}

.wrapper:hover .imgSkill,
.wrapper:focus .imgSkill {
  transform: translateX(0);
  opacity: 0.05;
}

.listWrapper {
  position: absolute;
  top: 40px;
  left: 20px;
  opacity: 0;
}

.wrapper:hover .listWrapper,
.wrapper:focus .listWrapper {
  opacity: 1;
}

.skill {
  font-size: var(--font-contents1);
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 35px;
}

.txtCategory {
  font-size: var(--font-heading4);
  font-weight: 500;
}