.wrapper {
  position: relative;
  height: 600px;
  padding: 100px;
  background: var(--color-gray11);
}

.imgBanner {
  object-fit: cover;
}

.txtWrapper {
  position: absolute;
  left: 100px;
  bottom: 100px;
  color: white;
}

.title {
  font-size: var(--font-heading2);
}

.period {
  display: block;
  margin: 30px 0 10px;
  font-size: var(--font-base);
  font-weight: 300;
}

.isTeamProject {
  font-size: var(--font-base);
  font-weight: 300;
}