.wrapper {
  position: relative;
  width: 380px;
  height: 480px;
  transition: all 0.1s;
}

.wrapper:hover {
  opacity: 0.90;
}

.imgProject {
  object-fit: cover;
}

.txtWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 20px 25px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.subTxt {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
}

.title {
  margin-right: 14px;
  font-size: 22px;
  font-weight: 400;
  color: #3d3d3d;
}