.wrapper {
  height: 500px;
  padding: 60px 0;
  text-align: center;
}

.title {
  display: block;
  padding: 0 0 20px;
  font-size: var(--font-heading2);
}

.listWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}