.wrapper {
  max-width: 1200px;
  margin: auto;
  height: 500px;
  padding: 60px 0;
  text-align: center;
}

.title {
  display: block;
  padding: 0 0 20px;
  font-size: var(--font-heading2);
}

.listWrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow: scroll;
}