.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: var(--font-contents2);
  font-weight: 500;
}

.wrapper select {
  padding: 5px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputWrapper input {
  padding: 5px;
}

.btnAdd {
  padding: 7px 10px;
  border-radius: 3px;
  color: white;
  background-color: var(--color-gray10);
}

.listWrapper {
  display: flex;
  gap: 5px;
}

.listWrapper span {
  font-size: var(--font-base);
  font-weight: 400;
  line-height: 20px;
}

.listWrapper button {
  color: var(--color-red);
}