.wrapper {
  max-width: 1200px;
  margin: auto;
}

.titleWrapper {
  display: flex;
  align-items: flex-start;
  padding: 80px 0 20px;
}

.title {
  display: block;
  font-size: var(--font-heading2);
}

.btnAdd {
  margin-left: 10px;
  font-size: var(--font-heading4);
  line-height: 20px;
  color: var(--color-blue);
}

.btnDelete {
  float: right;
  margin: 10px 20px 0 0;
  padding: 3px 0;
  color: var(--color-red);
}