.wrapper {
  position: relative;
  display: block;
  width: fit-content;
  height: fit-content;
  background-color: #262626;
  transition: all 0.1s;
}

.wrapper:hover {
  opacity: 0.95;
}

.imgProject {
  display: block;
  object-fit: cover;
}

.txtWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 20px 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.subTxt {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}

.title {
  margin-right: 14px;
  font-size: 22px;
  font-weight: 400;
  color: #3d3d3d;
}