.swiper {
  width: 100%;
  height: 100%;
}

.projectSwiper {
  overflow: visible !important;
}

.projectSwiper .swiper-pagination {
  bottom: -30px !important;
}

.projectSwiper .swiper-slide {
  width: fit-content !important;
}


