.wrapper {
  height: 400px;
  margin-top: 80px;
  padding: 60px 20px;
  background-color: black;
  color: var(--color-gray4);
}

.followTitle {
  font-size: var(--font-heading5);
}

.followWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.followListWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 80px;
}

.gitBtn {
  display: block;
}

.blogBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  font-size: 28px;
  font-weight: 800;
  color: white;
  background-color: var(--color-gray10);
}

.divLine {
  border-color: var(--color-gray5);
  margin-bottom: 30px;
}

.emptySpace {
  margin-bottom: 20px;
}

.warnningTxt {
  display: block;
  font-size: var(--font-contents3);
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 18px;
}