.wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 80px;
  @media screen and (max-width: 800px) {
    gap: 20px;
    padding: 80px 20px;
  }
}

.imgWrapper {
  overflow: hidden;
}

.imgMain {
  object-fit: contain;
  transform: translateX(15%);
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.title {
  margin-bottom: 10px;
  font-size: var(--font-heading4);
}

.skill {
  font-size: var(--font-contents1);
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 30px;
  @media screen and (max-width: 800px) {
    line-height: 25px;
  }
}