.wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 80px;
}

.imgWrapper {
  overflow: hidden;
}

.imgMain {
  object-fit: contain;
  transform: translateX(15%);
}

.title {
  margin-bottom: 10px;
  font-size: var(--font-heading4);
}

.skill {
  font-size: var(--font-contents1);
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 30px;
}