.wrapper {
  padding: 40px;
  margin-top: 80px;
  background-image: linear-gradient(to right, black, #2f353d);
  color: white;
  text-align: center;
}

.txtWrapper {
  max-width: 700px;
  margin: auto;
}

.title {
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 3px;
}

.summary {
  font-size: 14px;
  font-weight: 300px;
  line-height: 24px;
  letter-spacing: 1px;
  word-break: keep-all;
}