.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
}

.wrapperSwitch {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
}

.wrapperColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex: 1;
  margin: 40px auto 0;
}

.imgWrapper {
  flex: 1;
  background-color: var(--color-gray3);
}

.imgMain {
  object-fit: cover;
  width: 100%;
}

.txtWrapper {
  flex: 1;
  padding: 40px;
  max-width: 600px;
}

.title {
  margin-bottom: 10px;
  font-size: var(--font-heading4);
  font-weight: 400;
}

.contents {
  min-height: 100px;
  font-size: var(--font-base);
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 25px;
  color: var(--color-gray6);
  word-break: keep-all;
}