.wrapper {
  background-color: #e4e7eb;
  width: 200px;
  height: 200px;
  padding: 40px 20px;
  transition: all 0.15s;
  overflow: hidden;
}

.wrapper:hover {
  background-color: #212530;
  width: 400px;
  height: 300px;
  padding: 40px;
  color: white;
}

.title {
  display: block;
  font-size: 22px;
  margin-bottom: 20px;
}

.contents {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 28px;
  color: white;
  opacity: 0;
}

.wrapper:hover .contents {
  opacity: 1;
}