.wrapper {
  margin-top: 100px;
  padding: 60px 0;
  background-color: var(--color-gray1);
  text-align: center;
}

.title {
  display: block;
  padding: 0 0 20px;
  font-size: var(--font-heading2);
}

.listWrapper {
  display: flex;
  justify-content: center;
}

.listWrapper > li {
  border-right: 1px solid var(--color-gray3);
}

.listWrapper > li:last-child {
  border: none;
}