.wrapper {
  padding: 100px 20px;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.layout {
  display: flex;
}

.layout section,
.layout form {
  flex: 1;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputWrapper label {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.inputWrapper input,
.inputWrapper select {
  padding: 5px;
}

.skillsWrapper {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.skillsWrapper select,
.skillsWrapper ul {
  flex: 1;
}

.skillsWrapper ul {
  padding: 5px;
}

.skillDelete {
  margin-left: 5px;
  color: #de2b2b;
}

.createBtn {
  border-radius: 3px;
  padding: 10px;
  font-weight: 500;
  color: white;
  background-color: #5865f5;
}