.wrapper {
  padding: 100px 20px;
}

.title {
  font-size: var(--font-heading3);
  margin-bottom: 20px;
}

.layout {
  display: flex;
}

.layout section {
  flex: 1;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: var(--font-contents2);
  font-weight: 500;
}

.inputWrapper input {
  padding: 5px;
}

.createBtn {
  border-radius: 3px;
  padding: 10px;
  font-weight: 500;
  color: white;
  background-color: var(--color-blue);
}