.bannerWrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.txtWrapper {
  flex: 1;
  color: white;
  padding: 20px;
}

.title {
  font-size: var(--font-heading1);
  line-height: 90px;
  word-break: keep-all;
}

.subTxt {
  display: block;
  margin-top: 40px;
  font-size: var(--font-base);
  font-weight: 400;
  color: var(--color-gray5);
}

.imgWrapper {
  position: relative;
  flex: 1;
}

.imgBanner {
  object-fit: contain;
}